<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cat.sys.mapper.CatUserMapper">
		<sql id="whereSqlId">
		<where>
			<if test="username!=null and username!='' ">
				username like concat("%",#{username},"%")
			</if>
		</where>
	</sql>
	<!-- concat() 方法用于连接两个或多个数组。 -->
	<select id="findPageObjects" resultType="CatUser">
		select id,username,email,mobile,valid from cat_users
		<include refid="whereSqlId"/>
		order by modifiedTime desc limit #{startIndex},#{pageSize}
	</select>
	<!-- 统计记录数(要根据此记录数计算总页数) -->
	<select id="getRowCount" resultType="int">
		select count(*) from cat_users
		<include refid="whereSqlId"/>
	</select>
	<update id="validById">
		update cat_users set valid=#{valid},modifiedTime=now(),modifiedUser=#{modifiedUser} where id=#{id}
	</update>
	<!-- 把用户写入到数据库时，拿到保存数据库主键的id值 -->
	<insert id="insertObject" parameterType="CatUser" useGeneratedKeys="true" keyProperty="id">
		insert into cat_users(username,password,email,mobile,salt,valid,createdUser,modifiedUser,createdTime,modifiedTime)
		values(#{username},#{password},#{email},#{mobile},#{salt},#{valid},#{createdUser},#{modifiedUser},now(),now())
	</insert>
	<select id="findObjectById" resultType="CatUser">
		select * from cat_users where id=#{id}
	</select>
	<update id="updateObject">
		update cat_users
		<set>
			<if test="username!=null and username!=''">
				username=#{username},
			</if>
			<if test="password!=null and password!=''">
				password=#{password},
			</if>
			<if test="mobile!=null and mobile!=''">
				mobile=#{mobile},
			</if>
			<if test="email!=null and email!=''">
				email=#{email},
			</if>
			<if test="modifiedUser!=null and modifiedUser!=''">
				modifiedUser=#{modifiedUser},
			</if>
			modifiedTime=now()
		</set>
		where id=#{id}
	</update>
	<delete id="deleteObject">
		delete from cat_users where id=#{id}
	</delete>
</mapper>